@model BackendServer.Models.FileHostModel
@{
    ViewBag.Title = "Remote File Browser";
}

<div class="center">
    <h1>HTTP File Browser</h1>
    <br />
    @using (Html.BeginForm())
    {
        <fieldset>
            @Html.LabelFor(m => m.FileHostCode)
            @Html.TextBoxFor(m => m.FileHostCode)
            @Html.ValidationMessageFor(m => m.FileHostCode)
            @Html.ValidationMessage("errorSummary")
            <br />
            <input type="submit" value="Log in" />
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}